<h2 class="titles">Your favourite Ones</h2>
<p class="feedback" *ngIf="favList && favList.length === 0">
  Aun no tienes ninguna película en Favoritos :(
</p>
<!-- <ul class="list-group list-group-horizontal">
  <li class="list-group-item liFavs" *ngFor="let film of favList">
    <img class="filmCover" src="{{ film.cover }}" alt="" />
    <button
    (click)="handleFavSelected(film.ytId, this.profileSelected)"
    type="button"
    class="btn btn-outline-info filmButtons"
  >
    Add to Favs
  </button>
  <button
    (click)="filmSelected(film.ytId)"
    type="button"
    class="btn btn-outline-info"
  >
    Watch now!
  </button>
  </li>
</ul> -->

<ul class="list-group list-group-horizontal filmsContainer">
  <li class="list-group-item liAllFilms" *ngFor="let film of favList">
    <h4 class="filmName">{{ film.name }}</h4>
    <img
      class="filmCover"
      type="button"
      (click)="filmSelected(film.ytId)"
      src="{{ film.cover }}"
      alt=""
    />

    <div class="filmInfo">
      <h4>{{ film.name }}</h4>
      <p>
        {{ film.description }}
      </p>
      <p>{{ film.gender }}</p>
      <button
        (click)="handleFavSelected(film.ytId, this.profileSelected)"
        type="button"
        class="btn btn-outline-info filmButtons"
      >
        Delete from Favs
      </button>
      <button
        (click)="filmSelected(film.ytId)"
        type="button"
        class="btn btn-outline-info"
      >
        Watch now!
      </button>
    </div>
  </li>
</ul>
