<h2 class="titles">Your favourite Ones</h2>
<p class="feedback" *ngIf="favList && favList.length === 0">
  Aun no tienes ninguna película en Favoritos :(
</p>
<ul class="list-group list-group-horizontal">
  <li class="list-group-item liFavs" *ngFor="let film of favList">
    <!-- <h4>{{ film.name }}</h4> -->
    <img class="filmCover" src="{{ film.cover }}" alt="" />
    <button
      (click)="handleFavSelected(film.ytId, this.profileSelected)"
      type="button"
      class="btn btn-outline-info"
    >
      -
    </button>
  </li>
</ul>
