.homeWrapper
    background-color: #141414
.navbarWrapper
.bg-light
    background-color: rgba(0, 0, 0, 0)!important
.liAllFilms
    padding: 0
    transition: transform 1s
.liAllFilms:hover
    transform: scale(1.5)
    z-index: 2
.filmCover
    height: 40vh
.filmName
    display: none
    z-index: 2
    background: red
    text-align: center
.dropdownContainer
    position: absolute
    right: 5vw
.navbarTitle
    height: 15vh
.titles
    color: rgba(194, 191, 191)
    font-size: 3.8vh
    margin-left: 1vw
.changeProfile
    color: #818181
    font-size: 3vh
.filmsContainer
    margin-bottom: 10vh
