<div class="tryBack">
  <img
    class="netflixLogo"
    src="assets/netflix-themes/netflix-logo.png"
    alt=""
  />

  <form class="formContainer" (submit)="onSubmit($event)">
    <h2 class="title">Sign Up</h2>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        aria-describedby="emailHelp"
        placeholder="Nick Name"
        name="nick"
        required
      />
    </div>
    <div class="form-group">
      <input
        type="email"
        class="form-control"
        aria-describedby="emailHelp"
        placeholder="Email"
        name="email"
        required
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control inputColor"
        placeholder="Password"
        name="password"
        required
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control inputColor"
        placeholder="Write your password again"
        name="passwordVerify"
        required
      />
    </div>
    <form class="form-group">
      <p class="text">Pick a character for this profile and will be added!</p>
      <input
        (click)="this.character = 'assets/profile-characters/blueProfile.png'"
        class="imageInput"
        type="image"
        src="assets/profile-characters/blueProfile.png"
        name="character"
      />
      <input
        (click)="this.character = 'assets/profile-characters/robotProfile.png'"
        class="imageInput"
        type="image"
        src="assets/profile-characters/robotProfile.png"
        name="character"
      />
      <input
        (click)="this.character = 'assets/profile-characters/yellowProfile.png'"
        class="imageInput"
        type="image"
        src="assets/profile-characters/yellowProfile.png"
        name="character"
      />
      <input
        (click)="this.character = 'assets/profile-characters/pinkProfile.png'"
        class="imageInput"
        type="image"
        src="assets/profile-characters/pinkProfile.png"
        name="character"
      />
      <input
        (click)="this.character = 'assets/profile-characters/profile-image.png'"
        class="imageInput"
        type="image"
        src="assets/profile-characters/profile-image.png"
        name="character"
      />
      <input
        (click)="this.character = 'assets/profile-characters/heroProfile.png'"
        class="imageInput"
        type="image"
        src="assets/profile-characters/heroProfile.png"
        name="character"
      />
      <input
        (click)="this.character = 'assets/profile-characters/orangeProfile.png'"
        class="imageInput"
        type="image"
        src="assets/profile-characters/orangeProfile.png"
        name="character"
      />
      <input
        (click)="this.character = 'assets/profile-characters/manProfile.png'"
        class="imageInput"
        type="image"
        src="assets/profile-characters/manProfile.png"
        name="character"
      />
    </form>
    <p style="color: red" *ngIf="this.errorFeedback">
      {{ this.errorFeedback }}
    </p>
    <button type="submit" class="btn btn-outline-danger submitButton">
      Sign In
    </button>
    <a routerLink="/authenticate" class="registerLink"
      >I already have an account
    </a>
    <p class="dataText">
      None of this data will be shared or used out of this local API.
    </p>
  </form>
</div>
