<h2 class="titles">Your favourite Ones</h2>
<ng-container *ngIf="favList && favList.length === 0">
  <p class="feedback">Aun no tienes ninguna película en Favoritos :(</p>
</ng-container>

<ul class="list-group list-group-horizontal filmsContainer">
  <li class="list-group-item liAllFilms" *ngFor="let film of favList">
    <h4 class="filmName">{{ film.name }}</h4>
    <img
      class="filmCover"
      type="button"
      (click)="filmSelected(film.ytId)"
      src="{{ film.cover }}"
      alt=""
    />

    <div class="filmInfo">
      <h4>{{ film.name }}</h4>
      <p>
        {{ film.description }}
      </p>
      <p>{{ film.gender }}</p>
      <button
        (click)="handleFavSelected(film.ytId)"
        type="button"
        class="btn btn-outline-info filmButtons"
      >
        Delete from Favs
      </button>
      <button
        (click)="filmSelected(film.ytId)"
        type="button"
        class="btn btn-outline-info"
      >
        Watch now!
      </button>
    </div>
  </li>
</ul>
