<!-- Choose profile or click to add a new user html -->
<div class="selectProfileWrapper" *ngIf="!displayAddMember">
  <h1 class="bigTitle">Who's watching?</h1>
  <div class="container">
    <div>
      <img
        (click)="sendProfileSelected(adminName)"
        src="{{ this.adminCharacter }}"
        class="myProfileImage"
        type="button"
      />
      <div class="nameUnder">
        <p class="nameText">
          {{ this.adminName }}
        </p>
      </div>
    </div>

    <ul style="margin-top: 2.4vh" *ngFor="let member of memberList">
      <li class="memberList">
        <div>
          <img
            (click)="sendProfileSelected(member.nick)"
            class="myProfileImage"
            src="{{ member.character }}"
            type="button"
          />
          <div class="nameUnder">
            <p class="nameText">
              {{ member.nick }}
            </p>
            <button (click)="deleteMemberSelected(member.nick)">X</button>
          </div>
        </div>
      </li>
    </ul>
    <div
      class="addButtonContainer"
      *ngIf="this.memberList && 4 > this.memberList.length"
    >
      <img
        class="myProfileImage"
        (click)="displayAddMember = true"
        src="../../assets/buttons/add-member.png"
        alt="add member image"
        type="button"
      />
    </div>
  </div>
</div>

<!-- Add member form html -->
<form
  (submit)="onSubmitName($event)"
  class="addMemberForm formContainer"
  *ngIf="displayAddMember"
>
  <h2 class="title">Add Profile</h2>
  <div class="form-group">
    <p class="text">Add a profile for another person watching Netflix</p>
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Nick Name"
      name="nick"
      required
    />
  </div>
  <p class="text">Pick a character for this profile and will be added!</p>
  <form class="form-group">
    <img
      (click)="
        this.memberCharacter = 'assets/profile-characters/blueProfile.png'
      "
      class="imageInput"
      type="image"
      src="assets/profile-characters/blueProfile.png"
      id="memberCharacter"
    />
    <img
      (click)="
        this.memberCharacter = 'assets/profile-characters/robotProfile.png'
      "
      class="imageInput"
      type="image"
      src="assets/profile-characters/robotProfile.png"
      name="memberCharacter"
    />
    <img
      (click)="
        this.memberCharacter = 'assets/profile-characters/yellowProfile.png'
      "
      class="imageInput"
      type="image"
      src="assets/profile-characters/yellowProfile.png"
      name="memberCharacter"
    />
    <img
      (click)="
        this.memberCharacter = 'assets/profile-characters/pinkProfile.png'
      "
      class="imageInput"
      type="image"
      src="assets/profile-characters/pinkProfile.png"
      name="memberCharacter"
    />
    <img
      (click)="
        this.memberCharacter = 'assets/profile-characters/profile-image.png'
      "
      class="imageInput"
      type="image"
      src="assets/profile-characters/profile-image.png"
      name="memberCharacter"
    />
    <img
      (click)="
        this.memberCharacter = 'assets/profile-characters/heroProfile.png'
      "
      class="imageInput"
      type="image"
      src="assets/profile-characters/heroProfile.png"
      name="memberCharacter"
    />
    <img
      (click)="
        this.memberCharacter = 'assets/profile-characters/orangeProfile.png'
      "
      class="imageInput"
      type="image"
      src="assets/profile-characters/orangeProfile.png"
      name="memberCharacter"
    />
    <img
      (click)="
        this.memberCharacter = 'assets/profile-characters/manProfile.png'
      "
      class="imageInput"
      type="image"
      src="assets/profile-characters/manProfile.png"
      name="memberCharacter"
    />
  </form>
  <p class="errorFeedback" *ngIf="this.errorFeedback">
    {{ this.errorFeedback }}
  </p>
  <button type="submit" class="btn btn-outline-danger submitButton">
    Add Profile
  </button>
  <button
    (click)="errorFeedback = false"
    (click)="displayAddMember = false"
    class="btn btn-outline-secondary"
  >
    Cancel
  </button>
</form>
