<div *ngIf="!displayAddMember" class="container">
  <img
    class="myProfileImage"
    src="../../assets/profile-image.png"
    alt="My profule image"
    (click)="displayAddMember = false"
    (click)="sendProfileSelected(this.adminName)"
  />
  <p>{{ this.adminName }}</p>
  <img
    class="myProfileImage"
    (click)="displayAddMember = true"
    src="../../assets/add-member.png"
    alt="add member image"
  />
  <ul>
    <li class="memberList" *ngFor="let member of memberList">
      <img
        (click)="sendProfileSelected(member)"
        class="myProfileImage"
        src="../../assets/profile_image.png"
      />
      <p>{{ member }}</p>
    </li>
  </ul>
</div>

<form (submit)="onSubmitName($event)" *ngIf="displayAddMember">
  <h2>Add new profile</h2>
  <p>Create a profile for a friend</p>
  <input type="text" placeholder="nickname" name="nick" />
  <button>Continue</button>
  <button (click)="displayAddMember = false">Cancel</button>
</form>
